/* Will need for modal component css module */
.confirmBtnContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
/* Will need for modal component css module */
.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

@media only screen and (max-width: 600px) {
  .modal {
    width: 100%;
    top: 20vh;
    left: 0;
  }
}
